<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Vizmit na robotu @indastry</a>
    <ul *ngIf="!isLoggedIn" id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="register">Register</a></li>
    </ul>
    <ul *ngIf="isLoggedIn" id="nav-mobile1" class="right hide-on-med-and-down">
      <li><a href="sass.html">{{userService.getUser().userLogin}}</a></li>
      <li><a href="badges.html" (click)="logout()">Logout</a></li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
